DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

# ADMIN
ADMIN_PASSWORD=


# JWT SECRET
JWT_SECRET=


# ADMIN
ADMIN_PASSWORD_HASH=
# This hash is used to test the JWT section. use the above in the code.
TEST_ADMIN_PASSWORD_HASH=



# CORS DEV CONFIG

# ALLOWED_ORIGINS=
# ALLOWED_METHODS=
# ALLOWED_HEADERS=
# CORS_MAX_AGE=
# ALLOW_CREDENTIALS=


# CORS PROD CONFIG

# ALLOWED_ORIGINS=
# ALLOWED_METHODS=
# ALLOWED_HEADERS=
# CORS_MAX_AGE=
# ALLOW_CREDENTIALS=