DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=


# CORS DEV CONFIG

# ALLOWED_ORIGINS=
# ALLOWED_METHODS=
# ALLOWED_HEADERS=
# CORS_MAX_AGE=
# ALLOW_CREDENTIALS=


# CORS PROD CONFIG

# ALLOWED_ORIGINS=
# ALLOWED_METHODS=
# ALLOWED_HEADERS=
# CORS_MAX_AGE=
# ALLOW_CREDENTIALS=